<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<center>
<body>
<h3>权限添加</h3>
<form action="__URL__/add_do" method="post">
	<table border="1">
		<tr>
			<td>权限名称<input type="text" name="p_name"></td>
		</tr>
		<tr>
		<td>
		分类权限名称
		<select>
		<foreach name="list" item="val">
				<option value="{$val.role_id}">{$val.role_name}</option>
		</foreach>
		</select>
		</td>
		</tr>
		<tr>
			<td>控制器名字<input type="text" name="p_kongzhi"></td>
		</tr>
		<tr>
			<td>方法名字<input type="text" name="p_fangfa"></td>
		</tr>
		<tr>
			<td><input type="submit" value="添加"></td>
		</tr>

	</table>
</form>
</body>
</center>
</html>