html,body,div,ul,li,h1,h2,h3,h4,h5,h6,a,img,p{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "微软雅黑";
}
html{
	font-size:14px;
}
h3{
	font-size: 1.5rem;
}
h5{
	color: #666666;
}
/* 每页标题统一样式 */
.unified-title-img img{
	display: block;
	width: 80%;
	margin: 0.5rem auto;
}

/* 分页上下页按钮样式 */
.el-pagination .btn-next,
.el-pagination .btn-prev{
	border: solid 1px #000;
	padding: 0 12px;
}
.el-pagination button:disabled{
	border: solid 1px #c0c4cc;
	cursor: not-allowed;
}
.el-pager li.active {
    color: #e03344 !important;
    cursor: default;
}

/* 面包屑统一样式 */
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item{
	color: #e03344 !important;
}
.el-breadcrumb__inner{
	font-size: 1rem;
}
.el-breadcrumb__separator.el-icon-arrow-right{
	font-size: 1rem;
}

/* all */
.width1400{
	width: 100rem;
}
.width1200{
	width: 90%;
}
.more-btn-box{
	margin: 1.5rem auto;
	text-align: center;
}
.more-btn-box a{
	width: 50%;
	display: block;
	margin: 0 auto;
	font-size: 1rem;
	color: white;
	background-color: #e03344;
	padding: 3px 1.5rem;
	border: solid 1px #e03344;
	border-radius: 100px 100px;
	line-height: 2rem;
}

/* all header */
header{
	width: 100%;
	color: white;
	padding: 0.5rem 0 0.5rem 0;
	background-color: rgba(224,51,68,1);
}
.header-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto 0 auto;
	font-family: "微软雅黑";
	font-size: 1rem;
	line-height: 2rem;
}
.header-container p:nth-of-type(1){
	font-size: 2rem;
	line-height: 2.5rem;
}
.header-container p:nth-of-type(2) a{
	color: white;
	text-decoration: underline;
}
.header-container p:nth-of-type(2) a:hover{
	color: white;
}

/* all footer */
footer{
	background-color: black;
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 1.5rem 0;
}
.footer-container div{
	color: white;
}
.footer-container div:nth-of-type(1){
	order: 1;
}
.footer-container div:nth-of-type(2){
	order: 2;
	width: 16rem;
	text-align: center;
	margin-top: 1rem;
}
.footer-container div:nth-of-type(3){
	order: 1;
	width: 1rem;
}
.footer-container div:nth-of-type(4){
	order: 1;
}
.footer-container div:nth-of-type(4) img{
	width: 6.2rem;
	height: 6.2rem;
}

/* 首页 */
/* content */
.content-container .nav-container{
	margin: 0 auto;
}
.logo-img{
	width: 100%;
	margin: 0 auto;
}
.content-container .nav-container .nav{
	color: black;
	transition: all 0.2s;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
}
.content-container .nav-container .nav a:not(:nth-of-type(4)){
	order: 2;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.8rem;
	margin: 0 auto 1rem auto;
	border: solid 1px #e03344;
	color: #e03344;
}
.content-container .nav-container .nav a:nth-of-type(4){
	order: 1;
	display: flex;
	width: 100%;
	height: auto;
}
.content-container .nav-container .nav a:nth-of-type(4) img{
	width: 12.46rem;
	height: 7rem;
	text-align: center;
}
.currentRed{
	color: white !important;
	transition: all 0.2s !important;
	background-color: #e03344 !important;
}

/* content-first-banner */
.content-container .content-first-banner img{
	display: block;
	width: 100%;
}

/* about us */
.content-container .about-us{
	margin: 0 auto;
}
.content-container .about-us p{
	width: 100%;
	text-indent: 2rem;
	font-size: 1rem;
	margin: 0 auto 0 auto;
	color: #808080;
}
.content-container .about-us .dashed{
	border-bottom: dashed 2px #ccc;
	width: 100%;
	margin: 1.5rem auto 1rem auto;
}
.content-container .about-us .details-small-list{
	display: flex;
	justify-content: space-around;
}
.content-container .about-us .details-small-list li{
	margin: 0 auto;
}
.content-container .about-us .details-small-list li img{
	height: 4rem;
	margin: 0 auto 0.7rem auto;
	display: block;
}
.content-container .about-us .details-small-list li p{
	width: 90%;
}

/* classic-gourmet */
.classic-gourmet-container{
	background-image: url(../img/1_25.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.classic-gourmet-container .classic-gourmet{
	width: 100%;
	margin: 1.5rem auto;
}
.classic-gourmet-container .classic-gourmet > img{
	display: block;
	margin: 0 auto;
	padding: 1rem 0 1rem 0;
	width: 80%;
}
.classic-gourmet-container .classic-gourmet .classic-gourmet-nav{
	width: 100%;
	margin: 0 auto;
}
.classic-gourmet-container .classic-gourmet .classic-gourmet-nav ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.classic-gourmet-container .classic-gourmet .classic-gourmet-nav ul li{
	margin: 0.8rem auto;
	color: white;
	padding: 0.6rem 2.5rem;
	text-align: center;
	border: solid 2px white;
}
.colorRed{
	color: #e03344 !important;
	border: solid 2px #e03344 !important;
	background-color: rgba(0,0,0,0.5);
}
.classic-gourmet-container .classic-gourmet .classic-gourmet-banner{
	display: none;
}
.classic-gourmet-container .classic-gourmet .classic-gourmet-banner-phone{
	width: 100%;
	height: 16rem;
	margin: 0 auto;
}
.swiper-img-box{
	width: 100% !important;
	height: 200px !important;
	margin: 2rem auto 0 auto;
	overflow: hidden;
}
.swiper-img{
	width: 100%;
}

/* importantActivities */
.importantActivities-container{
	margin: 2rem auto;
}
.importantActivities-container > img{
	display: block;
	width: 80%;
	margin: 1rem auto;
}
.importantActivities-container > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem auto;
}
.importantActivities-container > ul li{
	width: 100%;
	border: solid 1px #CCCCCC;
	margin: 1rem auto;
}
.importantActivities-container > ul li img{
	display: none;
}
.importantActivities-container > ul li .bg-layer{
	transition: all 0.3s;
	background-color: rgba(255,255,255,1);
	width: 80%;
	margin: 1.5rem auto;
	z-index: 100;
	color: black;
}
.importantActivities-container > ul li .bg-layer > p{
	height: 4rem;
	overflow: hidden;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.importantActivities-container > ul li .bg-layer:hover{
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.importantActivities-container > ul li .bg-layer .date-box{
	overflow: hidden;
	margin-top: 1rem;
}
.importantActivities-container > ul li .bg-layer .date-box p:first-child{
	float: left;
	width: 60%;
}
.importantActivities-container > ul li .bg-layer .date-box p:last-child{
	float: right;
	width: 2rem;
}

/* 温鲜简介 about */
/* 餐厅简介 */
.about-content-container{
	margin: 2rem auto;
}
.about-content-container .restaurant-story{
	margin: 2rem auto 2.5rem auto;
	overflow: hidden;
}
.about-content-container .restaurant-story ul li:last-child{
	width: 100%;
	margin-top: 2rem;
}
.about-content-container .restaurant-story ul li:last-child h5,
.about-content-container .restaurant-story ul li:last-child h3{
	text-align: center;
}
.about-content-container .restaurant-story ul li img{
	width: 51.5rem;
	height: 33rem;
	margin-left: -12rem;
}
.about-content-container .restaurant-story ul li p{
	margin-top: 1rem;
	color: #999999;
}
/* 品牌故事 */
.about-content-container .brand-story h5,
.about-content-container .brand-story h3{
	text-align: center;
}
.about-content-container .brand-story > ul{
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}
.about-content-container .brand-story > ul li{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.about-content-container .brand-story > ul li > div{
	width: 100%;
	margin-top: -0.4rem;
}
.about-content-container .brand-story > ul li > div > img{
	width: 100%;
}
.about-content-container .brand-story > ul li > div.story-box{
	background-color: #fff;
	height: 10rem;
}
.about-content-container .brand-story > ul li:first-child > div.story-box{
	background-color: #e03344;
	color: white;
	display: inline-block;
}
.about-content-container .brand-story > ul li > div.story-box p{
	margin-left: 1.5rem;
}
.about-content-container .brand-story > ul li div .tit{
	font-size: 2rem;
	margin-top: 1rem;
}
.about-content-container .brand-story > ul li div .content{
	margin: 1rem auto;
	width: 89%;
}
.about-content-container .brand-story > ul li:nth-of-type(2) > div.story-box,
.about-content-container .brand-story > ul li:nth-of-type(3) > div.story-box{
	width: 99.5%;
	order: 2;
	border: solid 1px #cbcccc;
}
.about-content-container .brand-story > ul li:nth-of-type(3) > div.story-box{
	height: 10rem;
}
.about-content-container .brand-story > ul li > div.sanjiaoxing{
	display: none;
}
.about-content-container .bottom-jt-box img{
	display: block;
	margin: 2rem auto;
}
/* 习俗 */
.local-custom-box{
	width: 100%;
	background-color: #e03344;
}
.local-custom-box .local-custom{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.local-custom-box .sign-container{
	width: 5%;
	position: relative;
	top: 2rem;
}
.local-custom-box .sign-container .vertical-line{
	width: 1px;
	background-color: white;
	height: 90%;
	left: 1rem;
	position: absolute;
}
.local-custom-box .sign-container .first-sign{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 100px;
	background-color: white;
	border: solid 4px #e03344;
	position: absolute;
}
.local-custom-box .sign-container .first-sign > div{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100px;
	background-color: #e03344;
	margin: 3px auto;
}
.local-custom-box .sign-container .garden{
	width: 1rem;
	height: 1rem;
	border-radius: 100px;
	background-color: white;
	border: solid 4px #e03344;
	position: absolute;
	left: 5.5px;
}
.local-custom-box .sign-container .second-sign{
	top: 6.25rem;
}
.local-custom-box .sign-container .third-sign{
	top: 12.8rem;
}
.local-custom-box .sign-container .fourth-sign{
	top: 19.4rem;
}
.local-custom-box .sign-container .fifth-sign{
	top: 28.6rem;
}
.local-custom-box .text-container{
	width: 80%;
	color: white;
	margin-top: 2rem;
	left: 5rem;
}
.local-custom-box .text-container h4{
	font-size: 1.5rem;
	font-weight: normal;
}
.local-custom-box .text-container p{
	margin-top: 1rem;
}
.local-custom-box .img-container{
	margin: 1.5rem auto 1rem auto;
	width: 90%;
}
.local-custom-box .img-container img{
	width: 100%;
}

/* information */
.information-list-container{
	width: 90%;
	margin: 0 auto 2rem auto;
}
.information-list-box{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}
.information-list-box h4{
	font-size: 1.2rem;
}
.information-list-container .contents{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-content: flex-start;
	margin-left: 5%;
	width: 55%;
}
.information-list-container .information-detail-btn{
	width: 40%;
	margin: 0.2rem 0 0;
}
.information-list-container .information-detail-btn a{
	width: 100%;
	display: block;
	margin: 0 auto;
	font-size: 1rem;
	color: white;
	background-color: #e03344;
	padding: 0 0.3rem;
	border: solid 1px #e03344;
	line-height: 2rem;
	text-align: center;
}
.information-list-container .information-list-box .imgs{
	overflow: hidden;
	width: 40%;
	height: 9rem;
}
.information-list-container .information-list-box .imgs img{
	width: auto;
	height: 100%;
}
.information-list-container .contents .content-text{
	color: #1a0000;
	width: 100%;
	margin-top: 0.5rem;
	font-size: 1rem;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.information-list-container .contents .information-date{
	color: #4d4d4d;
	margin-top: 0.3rem;
	bottom: 3.5rem;
	font-size: 0.8rem;
}
.content-container .block{
	text-align: center;
	margin: 3.5rem auto 2rem auto;
}

/* menu */
.menu-content-box{
	margin: 2rem auto;
}
.menu-content-box ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 1rem auto 0 auto;
}
.menu-content-box ul li{
	margin-top: 2rem;
	width: 46%;
}
.menu-content-box ul li:nth-of-type(even){
	margin-left: 8%;
}
.menu-content-box ul li .imgs-box{
	overflow: hidden;
	width: 100%;
	height: 6rem;
}
.menu-content-box ul li img{
	width: 100%;
	display: block;
}
.menu-content-box ul li > a > p{
	height: 2.5rem;
	line-height: 2.5rem;
	width: 98.5%;
	text-align: center;
	border: solid 1px #e03344;
	color: #e03344;
	background-color: white;
	z-index: 1000;
	position: relative;
}
.menu-small-nav{
	display: flex;
	justify-content: center;
}
.menu-small-nav a{
	cursor: pointer;
}
.tabClass{
	border: solid 1px #e03344;
	padding: 6px 2rem;
	margin: 2rem 1.5rem 0 1.5rem;
	color: #e03344;
	transition: all 0.3s;
}
.menu-small-nav a:last-child{
	margin-right: 0;
}
.menuTab{
	border: solid 1px #e03344;
	background-color: #e03344;
	color: #fff;
	transition: all 0.3s;
}

/* ContactUs */
.contact-us-content{
	margin: 1rem auto;
}
.contact-us-content ul{
	width: 100%;
	margin: 1rem 0;
}
#map-container{
	width: 100%;
	height: 30rem;
}
.contact-us-content ul li{
	font-weight:bold;
	line-height: 2rem;
}

/* 菜品详情页面 */
.details-container{
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
}
.details-container .details-left-content{
	width: 100%;
	margin: 0 auto 1rem auto;
}
.details-container .details-right-content{
	background-color: white;
	width: 100%;
}
.details-big-img-box{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.details-big-img-box img{
	width: 100%;
}
.details-right-content .text-content{
	width: 90%;
	margin: 2rem auto;
}
.details-right-content h4{
	font-size: 1.5rem;
	margin: 2.5rem auto 1.5rem auto;
}
.introduction-of-dishes{
	margin: 1.5rem auto;
}
.details-right-content hr{
	border-top: solid 1px #e6e6e6;
	border-bottom: 0 ;
}
.details-right-content .menu-small-nav{
	justify-content: flex-start;
}
.details-right-content .menu-small-nav a{
	border: solid 1px #e03344;
	padding: 0.2rem 1.2rem;
	margin: 1.2rem 0 0 0;
	color: #e03344;
	transition: all 0.3s;
}
.recommend-menu{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.recommend-menu li{
	width: 46%;
	margin-top: 2rem;
}
.recommend-menu li:nth-of-type(even){
	margin-left: 8%;
}
.recommend-menu li div{
	height: 6rem;
	width: 100%;
	overflow: hidden;
}
.recommend-menu li img{
	width: 100%;
}
.recommend-menu li > a > p{
	height: 2.5rem;
	line-height: 2.5rem;
	width: 98.5%;
	text-align: center;
	border: solid 1px #e03344;
	color: #e03344;
	transition: all 0.3s;
}
.recommend-menu li > a > p:hover{
	transition: all 0.3s;
	color: white;
	background-color: #e03344;
}

/* 重要活动详情页 */
.active-details-content{
	width: 90%;
	margin: 0 auto;
}
.active-details-content .title,
.active-details-content .date{
	text-align: center;
	color: #000;
	margin-bottom: 0.7rem;
}
.active-details-content img{
	max-width: 100%;
	display: block;
	margin: 1rem auto;
}
.active-details-content > div > p{
	margin-bottom: 2rem;
}
.active-details-content div span{
	font-size: 1rem !important;
}














