<block name="header"><include file="Public:header" /></block>
	<div class="about-content-container width1200">
		<el-breadcrumb separator-class="el-icon-arrow-right">
			<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
			<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item :to="{ path: '/information' }">重要活动</el-breadcrumb-item>
		</el-breadcrumb>
	</div>
	<div class="information-title-box">
		<img src="__PUBLIC__/img/1_28_1.jpg">
	</div>
	<div class="menu-small-nav">
		<a href="javascript:void(0)">全部</a>
		<a href="javascript:void(0)">宴请活动</a>
	</div>
	<div class="importantActivities-container width1200">
		<ul class="width1200" id="importantActivities-view">
			<li v-for="active in activities">
				<div class="bg-layer">
					<p>合茂集团董事长与贝宁共和国大使会餐</p>
					<p>10-19</p>
					<div class="date-box">
						<p>2018</p>
						<p class="el-icon-arrow-right"></p>
					</div>
				</div>
				<img :src="active.activeItemsImg">
			</li>
		</ul>
		<ul class="width1200" id="importantActivities-view">
			<li v-for="active in activities">
				<div class="bg-layer">
					<p>合茂集团董事长与贝宁共和国大使会餐</p>
					<p>10-19</p>
					<div class="date-box">
						<p>2018</p>
						<p class="el-icon-arrow-right"></p>
					</div>
				</div>
				<img :src="active.activeItemsImg">
			</li>
		</ul>
	</div>
	<!-- 分页 -->
	<div class="block">
		<el-pagination
		prev-text="上一页"
		next-text="下一页"
		@size-change="handleSizeChange"
		@current-change="currentChange"
		@prev-click="prevClick"
		@next-click="nextClick"
		:page-size="12"
		layout="prev, pager, next"
		:total="1000">
		</el-pagination>
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
new Vue({
	el: '#Activities',
	data() {
		return {
			activities: [
				{
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				}, {
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				}, {
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				}
			],
		}
	},
	methods: {
		handleSizeChange(val) {
			this.pagesize = val;
		},
		currentChange(current) {
			this.pagesize = current;
			console.log(current)
		},
		prevClick(prev) {
			// console.log(prev)
		},
		nextClick(next) {
			// console.log(next)
		}
	}
})
</script>
</body>
</html>