<block name="header"><include file="Public:header" /></block>
	<div id="activities">
		<div class="about-content-container width1200">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
				<el-breadcrumb-item>重要活动</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="information-title-box">
			<img src="__PUBLIC__/img/1_28_1.jpg">
		</div>
		<div class="menu-small-nav">
			<a href="javascript:void(0)">全部</a>
			<a href="javascript:void(0)">宴请活动</a>
		</div>
		<div class="importantActivities-container width1200">
			<ul class="width1200" id="importantActivities-view">
				<li v-for="active in activities">
					<div class="bg-layer">
						<p>{{ active.activeItemsTitle }}</p>
						<p>{{ active.activeItemsDate }}</p>
						<div class="date-box">
							<p>{{ active.activeItemsYear }}</p>
							<p class="el-icon-arrow-right"></p>
						</div>
					</div>
					<img :src="active.activeItemsImg">
				</li>
			</ul>
		</div>
		<!-- 分页 -->
		<div class="block">
			<el-pagination
			prev-text="上一页"
			next-text="下一页"
			@current-change="currentChange"
			:page-size="6"
			layout="prev, pager, next"
			:total="10">
			</el-pagination>
		</div>
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
new Vue({
	el: '#activities',
	data() {
		return {
			activities: [],
			lists: [
				{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-29',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-28',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-27',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-26',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-25',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-24',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-23',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-22',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-21',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				},{
					activeItemsTitle : '合茂集团董事长与贝宁共和国大使会餐',
					activeItemsDate : '10-20',
					activeItemsYear : '2018',
					activeItemsImg : '__PUBLIC__/img/0059.jpg'
				}
			]
		}
	},
	created(val) {
		const { lists } = this
		const arr = lists.slice((val-1)*6,6)
		this.activities = arr
	},
	methods: {
		currentChange(current) {
			const { lists } = this
			const arr = lists.slice((current-1)*6,current*6)
			this.activities = arr
		}
	}
})
</script>
</body>
</html>