<block name="header"><include file="Public:header" /></block>
	<div id="active-details">
		<div class="about-content-container width1200">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/activities">重要活动</a> </el-breadcrumb-item>
				<el-breadcrumb-item>献礼中非合作论坛合茂集团投资成立非洲银行</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="active-details-content width1200" v-for="(active,index) in details" :key="active.id">
			<h3 class="title">{{ active.title }}</h3>
			<p class="date">{{ active.time }}</p>
			<!-- <img :src="'__PUBLIC__/' + active.imgs_title"> -->
			<div v-html="active.content"></div>
		</div>
	</div>
</div>
<script>
	$("#index-nav .nav a").eq(5).addClass('currentRed');
	new Vue({
		el: '#active-details',
		data: {
			details: []
		},
		created() {
			// token验证------------------------------------------------
			let newDate = new Date();
			let month = '' + (newDate.getMonth() + 1);
        	let day = '' + newDate.getDate();
        	let year = newDate.getFullYear();
        	if (month.length < 2) {
        		month = '0' + month;
        	}
    		if (day.length < 2) {
    			day = '0' + day;
    		}
    		let overDate = [year, month, day].join('-');
			let key = 'fe51bfa9646fa550a9b13728589d16bb';
			let newKey = hex_md5(key+overDate)

			let str = location.href; //取得整个地址栏
			let num = str.indexOf("=");
			let id = str.substr(num + 1); //取得所有参数
			let idArr = 'http://47.92.37.138/index.php/Home/activityxiang/' + id + '/' + newKey;
			let self = this
			$.ajax({
				url: idArr,
				type: 'GET',
				dataType: 'JSONP',
				success: function(res) {
					const arr = res.data;
					for (let i=0; i<arr.length; i++) {
						var rep = arr[i].imgs_title;
						rep = rep.replace("./Public/","")
						arr[i].imgs_title = rep
					}
					self.details = res.data
				}
			})
		}
	})
</script>
<block name="footer"><include file="Public:footer" /></block>