<block name="header"><include file="Public:header" /></block>
	<div class="about-content-container width1200">
		<el-breadcrumb separator-class="el-icon-arrow-right">
			<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
			<el-breadcrumb-item :to="{ path: '/' }"><a href="index">首页</a></el-breadcrumb-item>
			<el-breadcrumb-item :to="{ path: '/information' }">美食资讯</el-breadcrumb-item>
		</el-breadcrumb>
	</div>
	<div class="information-title-box">
		<img src="__PUBLIC__/img/information-title.png">
	</div>
	<div class="information-list-container width1200">
		<information-list-comp v-for="(informationItem,index) in informationItems" v-if='index < 6' :infor="informationItem" :key="index"></information-list-comp>
	</div>
	<!-- 分页 -->
	<div class="block">
		<el-pagination
		prev-text="上一页"
		next-text="下一页"
		@size-change="handleSizeChange"
		@current-change="currentChange"
		@prev-click="prevClick"
		@next-click="nextClick"
		:page-size="6"
		layout="prev, pager, next"
		:total="totalCount">
		</el-pagination>
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
Vue.component('information-list-comp',{
	props: [
		'infor'
	],
	template:   `<div class="information-list-box">
					<div class="imgs">
						<img :src="infor.imgs">
					</div>
					<div class="contents">
						<h4>{{ infor.tit }}</h4>
						<p class="content-text">{{ infor.text }}</p>
						<p class="information-date">{{ infor.date }}</p>
						<div class="more-btn-box information-detail-btn width1200">
							<a :href="infor.href">查看详情</a>
						</div>
					</div>
				</div>`
})
new Vue({
	el: '#Information',
	data() {
		return {
			informationItems:[
				{
					imgs : '__PUBLIC__/img/information-img-1.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				},{
					imgs : '__PUBLIC__/img/information-img-2.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				},{
					imgs : '__PUBLIC__/img/information-img-3.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				},{
					imgs : '__PUBLIC__/img/information-img-4.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				},{
					imgs : '__PUBLIC__/img/information-img-5.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				},{
					imgs : '__PUBLIC__/img/information-img-6.jpg',
					tit : '红烧螃蟹',
					text: '红烧螃蟹是喜爱吃螃蟹的中国的一中著名菜肴，菜系上属于泸菜。其味道香鲜可口，色香味俱全，做法较容易。',
					date: '2018.10.17',
					href: 'javascript:void(0)'
				}
			],
			//默认数据总数
            totalCount: 1000,
            // 定义一个空数组，请求的数据都是存放这里
            userList: [

            ]
		}
	},
	methods: {
		handleSizeChange(val) {
			this.pagesize = val;
		},
		currentChange(current) {
			this.pagesize = current;
			console.log(current)
		},
		prevClick(prev) {
			// console.log(prev)
		},
		nextClick(next) {
			// console.log(next)
		}
	}
})
</script>
</body>
</html>