<block name="header"><include file="Public:header" /></block>
	<div class="details-container" id="information-details">
		<div class="details-left-content">
			<div class="about-content-container width1200">
				<el-breadcrumb separator-class="el-icon-arrow-right">
					<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
					<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
					<el-breadcrumb-item><a href="__URL__/information">美食资讯</a></el-breadcrumb-item>
					<el-breadcrumb-item v-for="(content,index) in contents" :key="content.id" v-text="content.title"></el-breadcrumb-item>
				</el-breadcrumb>
			</div>
			<div class="details-big-img-box" v-for="(content,index) in contents">
				<img :src="'__PUBLIC__/img/' + content.imgs">
			</div>
		</div>
		<div class="details-right-content">
			<div class="text-content" v-for="(content,index) in contents" :key="content.id">
				<h3 v-text="content.title"></h3>
				<h4>制作原料</h4>
				<p v-text="content.yuanliao"></p>
				<h4>制作步骤</h4>
				<p v-text="content.xiangqing"></p>
			</div>
		</div>
	</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
	new Vue({
		el: '#information-details',
		data: {
			contents : []
		},
		created(val) {
			let str = location.href; //取得整个地址栏
			let num = str.indexOf("=");
			let id = str.substr(num + 1); //取得所有参数
			let idArr = 'http://47.92.37.138/index.php/Home/xiangqing/' + id;
			let self = this
			$.ajax({
				url: idArr,
				type: 'GET',
				dataType: 'JSONP',
				success: function(res) {
					self.contents = res.data
				}
			})
		}
	})
</script>