<block name="header"><include file="Public:header" /></block>
	<div id="information">
		<div class="about-content-container width1200">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
				<el-breadcrumb-item>美食资讯</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="information-title-box">
			<img src="__PUBLIC__/img/information-title.png">
		</div>
		<div class="information-list-container width1200">
			<div class="information-list-box" v-for="(informationItem,index) in informationItems" v-if='index < 6' :key="informationItem.id">
					<div class="imgs">
						<img :src="'__PUBLIC__/img/' + informationItem.imgs">
					</div>
					<div class="contents">
						<h4 v-text="informationItem.title"></h4>
						<p class="content-text" v-text="informationItem.content"></p>
						<p class="information-date" v-text="informationItem.time"></p>
						<div class="more-btn-box information-detail-btn width1200">
							<a :href="'__URL__/information-details?id=' + informationItem.id">查看详情</a>
						</div>
					</div>
				</div>
		</div>
		<!-- 分页 -->
		<!-- <div class="block">
		  	<el-pagination
		  		prev-text="上一页"
				next-text="下一页"
		  		@current-change='currentChange'
		    	layout="prev, pager, next"
				:page-size="6"
		    	:total="6">
		  	</el-pagination>
		</div> -->
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
	$("#index-nav .nav a").eq(2).addClass('currentRed');
	new Vue({
		el: '#information',
		data: {
			informationItems:[]
		},
		created(val) {
			let self = this
			$.ajax({
				url: 'http://47.92.37.138/index.php/Home/duotiao/xiaoxi',
				type: 'GET',
				dataType: 'JSONP',
				success: function(res) {
					const arr = res.data.slice((val-1)*6,6)
					self.informationItems=arr
				}
			})
		},
		methods: {
			currentChange(current) {
				let self = this
				$.ajax({
					url: 'http://47.92.37.138/index.php/Home/duotiao/xiaoxi',
					type: 'GET',
					dataType: 'JSONP',
					success: function(res) {
						const arr = res.data.slice((current-1)*6,current*6)
						self.informationItems=arr
					}
				})
			}
		}
	})
</script>
</body>
</html>