<block name="header"><include file="Public:header" /></block>
	<div id="information">
		<div class="about-content-container width1200">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
				<el-breadcrumb-item>美食资讯</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="information-title-box">
			<img src="__PUBLIC__/img/information-title.png">
		</div>
		<div class="information-list-container width1200">
			<information-list-comp v-for="(informationItem,index) in informationItems" v-if='index < 6' :infor="informationItem" :key="index"></information-list-comp>
		</div>
		<!-- 分页 -->
		<div class="block">
		  	<el-pagination
		  		prev-text="上一页"
				next-text="下一页"
		  		@current-change='currentChange'
		    	layout="prev, pager, next"
				:page-size="6"
		    	:total="10">
		  	</el-pagination>
		</div>
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
	Vue.component('information-list-comp',{
		props: [
			'infor'
		],
		template:   `<div class="information-list-box">
						<div class="imgs">
							<img :src="'__PUBLIC__/img/' + infor.imgs">
						</div>
						<div class="contents">
							<h4>{{ infor.title }}</h4>
							<p class="content-text">{{ infor.content }}</p>
							<p class="information-date">{{ infor.time }}</p>
							<div class="more-btn-box information-detail-btn width1200">
								<a :href="infor.href">查看详情</a>
							</div>
						</div>
					</div>`
	})
	new Vue({
		el: '#information',
		data: {
			informationItems:[]
		},
		created(val) {
			// 为给定 ID 的 user 创建请求
			// axios.get('http://47.92.37.138/index.php/Home/duotiao/xiaoxi',{withCredentials:true})
			// 	.then(function(response) {
			// 		console.log(response);
			// 	})
			// 	.catch(function(error) {
			// 		console.log(error);
			// });
			// const { lists } = this
			// const arr = lists.slice((val-1)*6,6)
			// this.informationItems = arr
			let self = this
			$.ajax({
				url: 'http://47.92.37.138/index.php/Home/duotiao/xiaoxi',
				type: 'GET',
				dataType: 'JSONP',
				success: function(res) {
					let resLength = res.data.length
					for(let i=0;i<resLength;i++){
						self.informationItems.push(res.data[i]);
					}
				}
			})
		},
		methods: {
			currentChange(current) {
				let self = this
				$.ajax({
					url: 'http://47.92.37.138/index.php/Home/duotiao/xiaoxi',
					type: 'GET',
					dataType: 'JSONP',
					success: function(res) {
						let resLength = res.data.length
						for(let i=0;i<resLength;i++){
							self.informationItems.push(res.data[i]);
						}
						const arr = res.data.slice((current-1)*6,current*6)
						self.informationItems=arr
					}
				})
			}
		}
	})
</script>
</body>
</html>