<block name="header"><include file="Public:header" /></block>
	<div id="menu">
		<div class="about-content-container width1200">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item>您的位置：</el-breadcrumb-item>
				<el-breadcrumb-item><a href="__URL__/index">首页</a></el-breadcrumb-item>
				<el-breadcrumb-item>菜单中心</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="information-title-box">
			<img src="__PUBLIC__/img/menu.png">
		</div>
		<div class="menu-small-nav">
			<a href="javascript:void(0)">全部</a>
			<a href="javascript:void(0)">推荐菜品</a>
		</div>
		<div class="menu-content-box width1200">
			<ul>
				<menu-list v-for="(menu,index) in menus" v-if="index < 12" :menu="menu"></menu-list>
			</ul>
		</div>
		<!-- 分页 -->
		<div class="block">
			<el-pagination
			prev-text="上一页"
			next-text="下一页"
			@current-change="currentChange"
			:page-size="12"
			layout="prev, pager, next"
			:total="20">
			</el-pagination>
		</div>
	</div>
</div>
<block name="footer"><include file="Public:footer" /></block>
<script>
Vue.component('menu-list',{
	props:[
		'menu'
	],
	template:   `<li>
					<a href="__URL__/menu-details">
						<div>
							<img :src='menu.imgs'>
						</div>
						<p>{{ menu.tag }}</p>
					</a>
				</li>`
})
new Vue({
	el: '#menu',
	data: {
		menus: [],
		lists : [
			{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇1'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇2'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇3'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇4'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇5'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇6'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇7'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇8'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇9'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇10'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇11'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇12'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇13'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇14'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇15'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇16'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇17'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇18'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇19'
			},{
				imgs : '__PUBLIC__/img/menu-item-img.jpg',
				tag : '凉拌海蜇20'
			}
		]
	},
	created(val) {
		const { lists } = this
		const arr = lists.slice((val-1)*12,12)
		this.menus = arr
	},
	methods: {
		currentChange(current) {
			const { lists } = this
			const arr = lists.slice((current-1)*12,current*12)
			this.menus = arr
		}
	}
})
</script>
</body>
</html>