<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>温鲜私家厨房</title>
	<meta name=”description” content="温鲜-私人厨房，隶属于合茂集团，位于北京市朝阳区高碑店镇西店通惠河南街1066号。餐厅可以同时容纳100多人用餐，其定位于“品味、生态、文化、尊贵”，抒发着浓厚的家乡情怀，散发着低调大气的文化品味。其与室内VIP接待室、古典茶室、红酒雪茄吧融为一体，又独具一格。作为高端会所的重要组成部分，“温鲜-私人厨房”为尊贵的客人提供室内静谧高雅、世外垂柳依依、荷塘月色的用餐空间，打造品尝温州美味、鉴赏尊贵品质、沉醉视觉盛宴、感受精彩无限的专属您的私人厨房。让游子回味乡愁，唤起儿时的记忆，让食客品尝美味，激发味蕾的嗅觉。">
	<meta name=”keyword” content="温鲜私家厨房,餐厅,高端会所,温州美味,合茂集团,高碑店">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/css/swiper.css">
	<link rel="stylesheet" href="__PUBLIC__/css/element-ui.css">
	<script src="__PUBLIC__/js/vue.js"></script>
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="__PUBLIC__/js/swiper.min.js"></script>
	<script src="__PUBLIC__/js/element-ui.js"></script>
</head>
<body>
<header>
	<div class="header-container width1200">
		<p>欢迎来到温鲜私家厨房</p>
		<p>
			预订热线：<a class="tel" href="javascript:void(0)">010-65288743</a>
		</p>
	</div>
</header>
<section class="content-container">
	<div class="nav-container width1200">
		<ul class="nav">
			<li><a href="__URL__/index">网站首页</a></li>
			<li><a href="__URL__/about">关于我们</a></li>
			<li><a href="__URL__/information">美食资讯</a></li>
			<li>
				<a href="__URL__/index" class="logo-box">
					<img src="__PUBLIC__/img/logo.jpg" alt="温鲜私家厨房LOGO">
				</a>
			</li>
			<li><a href="__URL__/menu">菜单中心</a></li>
			<li><a href="__URL__/activities">重要活动</a></li>
			<li><a href="__URL__/contactUs">联系我们</a></li>
		</ul>
	</div>